* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a {
  color: white;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.a-container {
  width: 50%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  /* display: none; */
}

nav div img {
  width: 50px;
}

.burger-menu {
  /* display: none; */
  width: 30px;
  height: 4px;
  background-color: white;
  position: absolute;
  right: 0;
  margin: 30px;
  position: absolute;
}

.burger-menu:before,
.burger-menu:after {
  content: '';
  position: absolute;
  height: 4px;
  right: 0;
  background-color: white;
  border-radius: 8px;
  transition: 0.5s;
}

.burger-menu:before {
  top: -10px;
  width: 80%;
}

.burger-menu:after {
  top: 10px;
  width: 80%;
}

#checkbox {
  position: absolute;
  right: 12px;
  margin: 15px;
  width: 30px;
  height: 30px;
  opacity: 0;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  .a-container {
    flex-direction: column;
    height: 50vw;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .burger-menu {
    z-index: 100;
  }

  #checkbox:checked ~ .a-container {
    display: none;
  }
}
